<div ng-show="vm.result" class="detail-page-content">

  <!-- diary custom component -->
    <diary ng-show="vm.user.displayName"></diary>

    <div class="detail-basic-info">
      <h1 class="detail-header">{{vm.result.name}}</h1>
      <p class="star-wrapper">
        <i ng-repeat="int in vm.starRating.integer" class="fa fa-star detail-star" aria-hidden="true"></i>
        <i ng-repeat="dec in vm.starRating.decimal" class="fa fa-star-half-o detail-star" aria-hidden="true"></i>
        <span class="detail-rating"> {{vm.result.rating}} based on {{vm.result.reviews.length}} reviews.</span>
      </p>
      <p class="detail-tags">{{vm.result.types}}</p>
      <p ng-show="vm.result.vicinity" class="detail-vicinity"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;{{ vm.result.vicinity }}
        <a class="detail-map-link" href="{{vm.result.url}}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;View on Map</a>
      </p>
      <p ng-show="vm.result.formatted_phone_number" class="detail-phone-number">
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{vm.result.formatted_phone_number}}
      </p>
      <p ng-show="vm.result.website" class="detail-website-link"><i class="fa fa-external-link" aria-hidden="true"></i>
        <a href="{{vm.result.website}}" target="_blank">&nbsp;{{ vm.parsedWebsiteUrl() }}</a>
      </p>
    </div>

    <div class="detail-secondary-info">
      <div ng-show="vm.result.opening_hours" class="detail-opening-hours">
        <h3>Hours</h3>
        <!-- <p ng-repeat="text in vm.result.opening_hours.formatted_weekday_text"><b>{{text.day}}:&nbsp;</b>{{text.hours}}</p> -->
        <table class="table-opening-hours">
          <tr ng-repeat="text in vm.result.opening_hours.formatted_weekday_text">
            <td class="table-day-cell">{{text.day}}</td>
            <td class="table-hours-cell">{{text.hours}}</td>
          </tr>
        </table>
      </div>

      <div class="detail-image-wrapper">
        <img class="detail-image" src={{vm.result.photohref}} > 
      </div>
    </div>
  
  </div>




