/* LAYOUT */

.detail-page-content {
  margin: 0 auto;
  padding: 10px;
  max-width: 700px;
  /* border: 1px solid blue; */
  /* border: 1px solid #aaa; */
}

.detail-basic-info {
  padding: 10px;
  border-bottom: 1px solid #aaa;
}

.detail-secondary-info {
  display: flex; 
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex; 
  flex-direction: row;
}

.detail-image-wrapper {
  padding: 10px;
  flex-grow: 1;

}


/* ELEMENT STYLES */

.detail-page-content a {
  color: #0073bb; 
  text-decoration: none;
}

.detail-page-content p {
  /* border: 1px solid red; */
  margin: 8px 0;
}

i:not(.detail-star) {
  color: #888;
}

/* SPINNER */ 
div.detail-page-spinner {
  margin-top: 100px;
}


/* LOCATION CARD */

.detail-header {
  /* border: 1px dotted yellow; */
  margin: 0px;
}

.star-wrapper {
  margin-top: 3px;
}

.detail-star {
  background-color: rgba(252, 0, 0, 0.76); 
  padding: 5px 7px 5px 7px; 
  border-radius: 2px;
  margin-right: 5px;
  color: white;
}

.detail-star:last-child{
  margin-left: -5px;
}

.detail-rating {
  font-size: 0.9em; 
}

.detail-tags {
  font-size: 0.9em;
  color: #0073bb;
}

.detail-vicinity{
  font-weight: bold;
}

.detail-map-link {
  font-size: 0.9em;
  margin-left: 10px;
}

.detail-phone-number{
  font-weight: bold;
}

.detail-website-link{
  font-size: 0.9em;
}

/* OPENING HOURS  */

.detail-opening-hours {
  padding: 10px;
  min-width: 200px;
  /* border: 1px solid #aaa; */
}

.detail-opening-hours > h3 {
  color: black;
  font-size: 1em;
  margin-top: 5px;
}

.detail-opening-hours td {
  padding: 5px 12px;
}

tr:nth-child(odd) {
  background-color: #ddd;

}

.table-opening-hours {
  font-size: 0.85em;
  line-height: 1.5em;
}

.table-day-cell {
  font-weight: bold;
  width: 60px;
}

/* IMAGE */

.detail-image {
  width: 100%;
}

/* MEDIA QUERIES */ 

@media screen and (max-width: 680px) {
  .detail-secondary-info {
    flex-direction: column;
  }

  
}
