/* imported into app.css */

/* LAYOUT::START */

.search-page-wrapper{
  /* border: 1px dotted blue; */
} 

.search-section-wrapper {
  width: 100%;
  background-color: #2e2e2e;
  
}

.search-section-content {
  /* border: 1px dotted white; */
  overflow: visible;
  border: 1px solid #2e2e2e;
  max-width: 800px; 
  margin: 0 auto;
  min-height: 400px;
}



/* LAYOUT::END */
/* SEARCH SECTION::START */

.search-heading {
  padding-top: 70px;
  padding-bottom: 30px;
  color: rgb(93, 212, 248);
  text-align: center;
}

.location-setter {
  color: white; 
  text-align: center;
  margin-bottom: 30px;
}

.location-setter > a {
  color: white; 
}

.input-wrapper {
  /* border: 1px dotted greenyellow; */
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

.search-input {
  height: 35px;
  width: 300px;
  border: none;
  margin-right: -4px;
  position: absolute; 
  top: 0;
}

input:focus {
  outline: none;
}

.type-input {
  border-radius:  3px 0 0 3px;
  padding-left: 60px;
}

.type-complete-wrapper {
  position: absolute;
  top: 37px;
  width: 310px; 
  background-color: white; 
  z-index: 1;
}

.type-complete-item {
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.type-complete-item:hover {
  background-color: rgba(255, 230, 0, 0.61)
}

.type-complete-item:last-child {
  border-bottom: none;
}

.query-input {
  left: 300px;
  padding-left: 90px;
}

.search-button {
  border-radius: 0 3px 3px 0;
  height: 35px;
  width: 40px;
  background-color: rgb(93, 212, 248);
  border: none;
  position: absolute;
  left: 600px;
}

.input-wrapper span {
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 1;
  font-weight: bold;
  color: #888;
}

.input-wrapper span:nth-child(1) {
  left: 10px;
}

.input-wrapper span:nth-child(2) {
  left: 310px;
}

.input-wrapper span:nth-child(2):before {
  content: '|';
  margin-right: 10px;
  font-weight: normal;
}

/* OPTIONS ROW */

.options-row {
  font-size: 0.8em;
  color: white;
  list-style: none;
  position: absolute; 
  top: 50px;
  /* border: 1px solid yellow; */
  left: 110px;
  margin: 0;
  padding: 0;
}

.options-row > li {
  display: inline;
  padding: 10px;
}

.options-row > li > i {
  margin-right: 5px; 
  /* color: blue; */
}

.search-error-wrapper {
  
}

.error {
  color: white;
  top: -30px;
  font-size: 0.8em;
  position: absolute;

  
}

.type-error {
  left: 50px;
}

.location-error {
  left: 370px;
}

.search-input.ng-invalid.ng-dirty {
  background-color: #f0f47a;
}

/* *********************************** */
/* ----------- MODAL ---------------
/* *********************************** */

.modal {
  z-index: 2; 
  position: fixed; 
  left: 0; 
  top: 0; 
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.6);

}

.modal-content {

  background-color: white;
  color: white;
  width: 60%;
  height: 300px; 
  margin: 10% auto; 
  padding: 10px;
  border-radius: 5px;

}



/* *********************************** */
/* ----------- RESULTS ---------------
/* *********************************** */

.results-section-wrapper {
  margin-top: 50px;
  min-height: 300px;
  border: 1px dotted pink;
}

.results-section-content {
  max-width: 900px; 
  border: 1px dotted green;
  margin: 0 auto;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-filter-panel {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sortby-input {
  color: #4267b2;
  font-weight: bold;
  padding: 6px 10px 6px 10px;
  /* border-radius: 3px; */
  margin-right: 10px;
  font-size: 0.9em;
}

.result-card {
  width: 100%; 
  overflow: hidden;
  /* border: 1px solid black; */
  /* display: inline-block; */
  margin: 8px; 
  padding-left: 10px;
  border-radius: 5px;
}

.result-card:hover {
  cursor: pointer;
  background-color: #eee;
}

.result-card > h2 {
  color: #4267b2;
  margin-bottom: 5px;
}

.result-card > p {
  margin: 5px;
}


.card-address {

}
.card-tags {
  font-size: 0.9em;
  color: #888;
}

.card-rating {

}