<div class="search-page-wrapper">
  <h1 class="search-heading"> {{ title }}</h1>
  <form novalidate>
    <label for="search">Search places</label>
    <input type="text" name="search" ng-model="search.query" >
    <input type="submit" value="Search" ng-click="submitQuery()" >
  </form>
  <input type="button" value="Sort By Rating" ng-click="sortByRating()"> 
  <input type="button" value="Prev" ng-click="previousPage()"> 
  <input type="button" value="Next" ng-click="nextPage()"> 

  <pre>search = {{ search | json }}</pre>
  <div 
    ng-repeat="result in results | limitTo:limit" 
    class="search-result-wrapper">
    <h2>{{ result.name }}</h2>
    <p>{{ result.formatted_address }}</p>
    <p>{{ result.rating }}</p>
    <p><span ng-repeat="type in result.types">{{ type }} </span></p>
  </div>
</div>