<div ng-controller="searchCtrl as svm" class="search-page-wrapper">



  <div class="search-section-wrapper">
    <section class="search-section-content">
      <h1 class="search-heading">Pathfinder</h1>
      <form name = "searchForm" novalidate>
        <div class="input-wrapper">
          <span>Type</span>
          <span>Query</span>
          <input 
            type="text" 
            name="type" 
            ng-model="svm.search.type" 
            class="search-input type-input" 
            placeholder="e.g. restaurant"
            ng-keyup="svm.autocompleteType()"
            ng-blur="svm.closeAutocomplete()"
            autocomplete="off" 
            required>
          <div class="type-complete-wrapper" ng-if="svm.typeMatches.length > 0 && svm.showTypeComplete">
            <p ng-repeat="match in svm.typeMatches | limitTo:10" ng-click="svm.selectAutocomplete($event)" class="type-complete-item">{{match}}</p>
          </div>
          <input 
            type="text" 
            name="query" 
            placeholder="e.g. fish"
            ng-model="svm.search.query" 
            class="search-input query-input"
            required >
          <button 
            type="submit" 
            value="Search" 
            ng-click="svm.submitQuery()" 
            class="search-button"
            ng-disabled="searchForm.$invalid">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <ul class="options-row">
            <li><i class="fa fa-cutlery" aria-hidden="true"></i>Restaurants</li>
            <li><i class="fa fa-glass" aria-hidden="true"></i>Nightlife</li>
            <li><i class="fa fa-shopping-basket" aria-hidden="true"></i>Shopping</li>
            <li><i class="fa fa-medkit" aria-hidden="true"></i>Health</li>
          </ul>
          <div class="search-error-wrapper">
            <p class="error type-error" ng-show="searchForm.type.$invalid && !searchForm.type.$pristine">enter the establishment type to search</p>
            <p class="error type-error" ng-show="!svm.validEstablishmentType">invalid establishment type</p>
            <p class="error location-error" ng-show="searchForm.query.$invalid && !searchForm.query.$pristine">enter the location to search</p>
        </div>
        </div>
      </form>
    </section>
  </div> 

  <!-- end of search section -->



  <div class="results-section-wrapper">
    <div class="results-filter-panel">
      <button type="button" ng-click="svm.sortByRating()" class="sortby-input">Sort By Rating</button>
      <button type="button" ng-click="svm.sortAZ()" class="sortby-input">Sort A-Z</button>
    </div>  
    <section class="results-section-content">
      
      <div 
        class="result-card"
        ng-repeat="result in svm.results | limitTo:svm.limit" 
        ng-click="svm.openDetailPage(result.place_id, result.photos[0].photo_reference)" >
        <div class="card-heading-wrapper">
          <h2>{{ result.name }}</h2>
        </div>
        <div class="card-content-wrapper">
          <p class="card-address">{{ result.formatted_address }}</p>
          <p class="card-tags">{{result.types}}</span></p>
          <p class="card rating">Customer Rating: <b>{{ result.rating }}</b></p>
      </div>
      </div>
    </section>  
  </div>

  <!-- end of results section -->

      <!-- modal -->
      <div class="modal" ng-show="svm.showModal">
          <div class="modal-content" ng-show="svm.showModal">
            <h2 class="modal-heading">Modal</h2>
          </div>
        </div>  
        <!-- end of modal -->
  

</div>

