<div ng-controller="detailCtrl as detail" class="detail-page-wrapper">
  <div class="diary-widget">
    <form>

      <select name="date" ng-model="detail.date"> 
        <option value="today" selected>Today</option> 
        <option value="{{date}}" ng-repeat="date in detail.dates" >{{date}}</option>
      </select>

      <select name="hour" ng-model="detail.hour"> 
        <option value="1.00" selected>1.00</option> 
        <option value="{{hour}}" ng-repeat="hour in detail.hours" >{{hour}}</option>
      </select>

      <select name="hour" ng-model="detail.amPm"> 
          <option value="PM" selected>PM</option> 
          <option value="AM" >AM</option> 
          
        </select>

      <div class="spinner-dots">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      <button ng-click="detail.addToDiary()">ADD TO DIARY</button>
    </form>

  </div>

  <div class="detail-page-content">
    <img class="detail-image" src={{detail.result.photohref}} > 
    <div class="detail-basic-info">
      <h1 class="detail-header">{{detail.result.name}}</h1>
      <p class="star-wrapper">
        
        <i ng-repeat="x in detail.starRating.int" class="fa fa-star detail-star" aria-hidden="true"></i>
        <i ng-repeat="y in detail.starRating.dec" class="fa fa-star-half-o detail-star" aria-hidden="true"></i>
        <span class="detail-rating"> {{detail.result.rating}} based on {{detail.result.reviews.length}} reviews.</span>
      </p>
      <p class="detail-tags">{{detail.result.types}}</p>
      <p class="detail-vicinity"><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;{{detail.result.vicinity}}
        <a class="detail-map-link" href="{{detail.result.url}}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;View on Map</a>
      </p>
      <p class="detail-phone-number"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{detail.result.formatted_phone_number}}</p>
      <p class="detail-website-link"><i class="fa fa-external-link" aria-hidden="true"></i>
        <a href="{{detail.result.website}}" target="_blank">&nbsp;{{detail.result.website}}</a>
      </p>
  </div>

  <div ng-show="detail.result.opening_hours" class="detail-opening-hours">
    <h3>Hours</h3>
    <!-- <p ng-repeat="text in detail.result.opening_hours.formatted_weekday_text"><b>{{text.day}}:&nbsp;</b>{{text.hours}}</p> -->
    <table class="table-opening-hours">
      <tr ng-repeat="text in detail.result.opening_hours.formatted_weekday_text">
        <td class="table-day-cell">{{text.day}}</td>
        <td class="table-hours-cell">{{text.hours}}</td>
      </tr>
    </table>
  </div>
  
  </div>


</div>

