.results-section-wrapper {
  margin-top: 50px;
  min-height: 300px;
  /* border: 1px dotted pink; */
}

.results-section-content {
  max-width: 900px; 
  /* border: 1px dotted green; */
  margin: 0 auto;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.results-filter-panel {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sortby-input {
  color: #4267b2;
  font-weight: bold;
  padding: 6px 10px 6px 10px;
  /* border-radius: 3px; */
  margin-right: 10px;
  font-size: 0.9em;
}

.result-card {
  width: 100%; 
  overflow: hidden;
  /* border: 1px solid black; */
  /* display: inline-block; */
  margin: 8px; 
  padding-left: 10px;
  border-radius: 5px;
}

.result-card:hover {
  cursor: pointer;
  background-color: #eee;
}

.result-card > h2 {
  color: #4267b2;
  margin-bottom: 5px;
}

.result-card > p {
  margin: 5px;
}


.card-address {

}
.card-tags {
  font-size: 0.9em;
  color: #888;
}

.card-rating {

}