<div class="search-page-wrapper">

  <div class="search-section-wrapper">
    <section class="search-section-content">
      <h1 class="search-heading">Pathfinder</h1>

      
        <p ng-show="!vm.location" class="location-setter">Before searching, set your <a href="#!/profile">location</a>.</p>
        <p ng-show="vm.location" class="location-setter">Searching in {{ vm.location.formatted_address}}. 
          <a href="#!/profile">Change location</a>.
        </p>
        
        <form name="searchForm" class="search-form" novalidate>
        
          <div class="input-wrapper">  
            <label for="category">Category</label>
            
            <input 
              type="text" 
              id="category"
              name="category" 
              ng-model="vm.search.category" 
              class="category-input" 
              placeholder="e.g. restaurant"
              ng-keyup="vm.autocompleteCategory()"
              
              autocomplete="off" 
              required>
            <div class="category-dropdown" ng-if="vm.showCategoryDropdown">
              <p ng-repeat="match in vm.categoryMatches | limitTo:10" ng-click="vm.selectAutocomplete($event)">{{match}}</p>
            </div>
          </div>

 

          <div class="input-wrapper">  
            <label for="query">Query</label>
            <input
              id="query" 
              type="text" 
              name="query" 
              placeholder="e.g. fish"
              ng-model="vm.search.query" 
              class="query-input">
          </div>

          <button 
            type="submit" 
            value="Search" 
            ng-click="vm.submitQuery()" 
            ng-disabled="searchForm.$invalid || !vm.location">
            <i class="fa fa-search" aria-hidden="true"></i> SEARCH
          </button>

          <div class="search-error-wrapper">
            <p class="error category-error" ng-show="!vm.validEstablishmentCategory">invalid Category</p>
        </div>
        
      </form>

      <ul class="options-row">
        <li><i class="fa fa-cutlery" aria-hidden="true"></i>Restaurants</li>
        <li><i class="fa fa-glass" aria-hidden="true"></i>Nightlife</li>
        <li><i class="fa fa-shopping-basket" aria-hidden="true"></i>Shopping</li>
        <li><i class="fa fa-medkit" aria-hidden="true"></i>Health</li>
      </ul>
      <!-- loader -->
      <div ng-show="vm.showSpinner" class="spinner"></div>

      

    </section>
    
  </div> 

  <!-- Validation -->
  <!-- <p>Valid? {{ searchForm.category | json }}</p> -->



  <search-results results="vm.results"></search-results>

 


</div>

