/* imported into app.css */

/* LAYOUT */

.search-page-wrapper{
  /* border: 1px dotted blue; */
} 

.search-section-wrapper {
  width: 100%;
  background-color: #2e2e2e;
  
}

.search-section-content {

  overflow: visible;
  border: 1px solid #2e2e2e;
  max-width: 800px; 
  margin: 0 auto;
  min-height: 450px;
  padding: 30px;
}


/* heading */

h1.search-heading {
  padding-top: 40px;
  padding-bottom: 10px;
  color: rgb(93, 212, 248);
  text-align: center;
}

/* location setter */

.location-setter {
  color: white; 
  text-align: center;
  padding: 10px;
 
}

.location-setter > a {
 
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 0.9em;
  margin: 10px;
  color: rgb(93, 212, 248);
  border: 1px solid rgb(93, 212, 248);
}

/* search inputs */

form.search-form {
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(93, 212, 248);
  border-radius: 3px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

form.search-form > div.input-wrapper {
  display: flex;
  flex-direction: row;
  /* border: 1px dotted white; */
  align-items: center;
  

}

/* form.search-form > div.input-wrapper:first-child {
  
  position: relative;
} */

.search-form input {
  height: 35px;
  max-width: 300px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

.search-form label {
  font-size: 0.95em; 
  color: #2e2e2e;
  font-weight: bold; 
  padding: 5px;
  /* display: block; */
}


.search-form button {
  border-radius: 3px;
  height: 35px;
  padding: 10px;
  margin: 5px;
  color: #2e2e2e;
  font-size: 0.9em;
  font-weight: bold;
  float: right;
  /* width: 40px; */
  border: none;
  max-width: 300px; 
}

.search-form button:hover {
  cursor: pointer;
}

.search-form button:disabled {
  cursor: not-allowed;
}

.search-form button > i {
  color: #2e2e2e; 
}


/* dropdown menu */

div.dropdown-holder {
  position: relative;
  /* border: 1px solid pink; */
  max-width: 300px;
  margin: 5px;
}

div.dropdown-holder > input {
  margin: 0;
}

.category-dropdown {
  position: absolute;
  left: 0px;
  top: 40px;
  width: 72%; 
  background-color: white; 
  z-index: 1;
}

.category-dropdown > p {
  padding: 8px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.category-dropdown > p:hover {
  background-color: rgba(255, 230, 0, 0.61)
}

.category-dropdown > p:last-child {
  border-bottom: none;
}


/* OPTIONS ROW */

.options-row {
  font-size: 0.9em;
  color: white;
  list-style: none;
  /* border: 1px solid yellow; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.options-row > li {
  display: inline-block;
  padding: 10px;
}

.options-row > li > i {
  margin-right: 5px; 
  /* color: blue; */
}

.search-error-wrapper {
  
}

.error {
  color: white;
  top: -30px;
  font-size: 0.8em;
  position: absolute;

  
}

.type-error {
  left: 50px;
}

.location-error {
  left: 370px;
}

.search-input.ng-invalid.ng-dirty {
  background-color: #f0f47a;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
 
  h1.search-heading {
    margin-bottom: 0;
  }

  p.location-setter {
    margin-top: 0;
  }
  form.search-form > div.input-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

}

@media screen and (max-width: 700px) {
  form.search-form {
    flex-direction: column;
    align-items: stretch;
    max-width: 460px;
  }

  form.search-form > div.input-wrapper {
    
    align-items: center;
    padding: 8px;
  }

  div.input-wrapper input, 
  div.input-wrapper button, 
  div.dropdown-holder {
    width: 100%;
  }

  .options-row {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  h1.search-heading {
    padding-top: 10px;
    margin-top: 0;
  }
}







