<div class="search-page-wrapper" ng-click="vm.removeAutocomplete($event)">

  <div class="search-section-wrapper">
    <section class="search-section-content">

      <!-- LOCATION STATUS AND LINK -->
      <h1 class="search-heading">Pathfinder</h1>
        <p ng-show="!vm.location" class="location-setter">Before searching, set your <a href="#!/profile">location</a>.</p>
        <p ng-show="vm.location" class="location-setter">Searching in {{ vm.location.formatted_address}}
          <a href="#!/profile">Change&nbsp;Location</a>
        </p>
        
        <!-- SEARCH FORM -->
        <form name="searchForm" class="search-form" novalidate>
          <div class="input-wrapper">  
            <label for="category">Category</label>
            <div class="dropdown-holder">
            <input 
              type="text" 
              id="category"
              name="category" 
              ng-model="vm.search.category" 
              class="category-input" 
              placeholder="e.g. restaurant"
              ng-keyup="vm.populateAutocomplete()"
              ng-blur="vm.validateCategory()"
              autocomplete="off" 
              required>
            <div class="category-dropdown" ng-if="vm.showDropdown">
              <p ng-repeat="match in vm.categoryMatches | limitTo:10" ng-click="vm.selectFromAutocomplete($event)">{{match}}</p>
            </div>
          </div>
          </div>

          <div class="input-wrapper">  
            <label for="query">Query</label>
            <input
              id="query" 
              type="text" 
              name="query" 
              placeholder="e.g. fish"
              ng-model="vm.search.query" 
              class="query-input">
          </div>
          
          <div class="input-wrapper">
            <button 
              type="submit" 
              value="Search" 
              ng-click="vm.submitQuery()" 
              ng-disabled="searchForm.$invalid || !vm.location">
              <i class="fa fa-search" aria-hidden="true"></i>&nbsp;SEARCH
            </button>
          </div>
      </form>

      <!-- OPTIONS LIST -->
      <ul class="options-row">
        <li><i class="fa fa-cutlery" aria-hidden="true"></i>Restaurants</li>
        <li><i class="fa fa-glass" aria-hidden="true"></i>Nightlife</li>
        <li><i class="fa fa-shopping-basket" aria-hidden="true"></i>Shopping</li>
        <li><i class="fa fa-medkit" aria-hidden="true"></i>Health</li>
      </ul>

      <!-- SPINNER -->
      <div ng-show="vm.showSpinner" class="spinner search-page-spinner"></div>
    </section>
  </div> 

<!-- CUSTOM COMPONENT -->
  <search-results results="vm.results" message="vm.message"></search-results>
</div>

